<app-navbar></app-navbar>

<div class="container-fluid p-0">
  <div class="row g-0">
    <div class="col">
      <div id="map-placeholder" class="bg-light text-center d-flex align-items-center justify-content-center" style="height: calc(100vh - 56px);">
        <div>
          <i class="bi bi-map-fill text-secondary" style="font-size: 4rem;"></i>
          <h1 class="text-secondary">Prepara la Mappa Interattiva...</h1>
          <p class="text-muted">Il motore di Leaflet è stato installato!</p>
        </div>
      </div>
    </div>
  </div>
</div>
