<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">StreetCats 🐾</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">

        @if (!authService.currentUser()) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">
              <i class="bi bi-person-plus"></i> Registrati
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-btn ms-lg-2 px-3 text-white" routerLink="/login">
              <i class="bi bi-box-arrow-in-right"></i> Accedi
            </a>
          </li>
        }

        @else {
          <li class="nav-item">
            <span class="nav-link sc-text-primary fw-bold">
              Ciao, {{ authService.currentUser()?.username }}! 🐾
            </span>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger ms-lg-3" (click)="logout()" style="cursor: pointer;">
              <i class="bi bi-box-arrow-right"></i> Esci
            </a>
          </li>
        }

      </ul>
    </div>
  </div>
</nav>
